body {
  /* Full height */
  height: 100%;
  width: 100%;

  /* The image used */
  background-image: url('../images/mountain_blur.jpg');

  /* Center and scale the image nicely */
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  color: #e6f2ff;
}

.profile {
  height: 300px;
  width: 300px;
}

.title-font {
  font-family: 'Architects Daughter', cursive;
}

/* NOTE:  This is needed to prevent MDB from setting 'width: 100%' which breaks
          our flexbox positioning
*/
.row>* {
  width: auto;
}


/*
  TODO: Figure out how to increase size of floating buttons (need to also 
        figure out FA icon positioning inside buttons).
.btn-floating.btn-lg {
  height: 4rem;
  width: 4rem;
}
*/

/* Color palette selection based on: 
  https://material.io/resources/color/#!/?view.left=0&view.right=0
*/
.btn-primary {
  background: #ffc107;
  color: #546e7a;
}

.btn-primary:hover {
  background-color: #c79100 !important;
  color: #546e7a;
}

.btn-primary:active {
  background-color: #fff263 !important;
  color: #546e7a;
}