body {
  /* Full height */
  width: 100%;
  height: 100%;

  /* The image used */
  background-image: url('../images/mountain_blur.jpg');

  /* Center and scale the image nicely */
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
}

.title-font {
  font-family: 'Fredericka the Great', cursive;
}

.icon {
  text-align: center;
}