<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.liquid %}
    </head>

    <body>
        <div class="bg">
            <div class="container">
                <div class="row">
                    <h1 class="title">Dan Yanos - Software Developer</h1>
                </div>
            </div>
        </div>
    </body>
</html>