<!DOCTYPE html>
<html lang="en">
    <head>
        {% include header.liquid %}
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center my-4"> 
                <img class="profile" src="{{ site.baseurl }}assets/images/profile_transparent.png" height="300px" width="300px">
            </div>
            
            <div class="row justify-content-center">
                <h1 class="title-font">Dan Yanos</h1> 
            </div>

            <div class="row justify-content-center">
                <h3 class="title-font">Software Engineer</h3>
            </div>

            <div class="row justify-content-center text-center mx-2">
                <p>I'm a software engineer focused on building scalable data processing applications in the cloud.</p> </p>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-sm-2 mb-3">
                    <a class="btn btn-circle" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"
                        href="https://www.linkedin.com/in/daniel-yanos-8b61388a/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>

                <div class="col-sm-2 mb-3">
                    <a class="btn btn-circle" data-toggle="tooltip" data-placement="bottom" title="GitHub"
                        href="https://github.com/danyanos">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

                <div class ="col-sm-2 mb-3">
                    <a class="btn btn-circle" data-toggle="tooltip" data-placement="bottom" title="Resume"
                        href="{{ site.baseurl }}/assets/files/resume_no_pii.pdf">
                        <i class="far fa-file"></i>
                    </a>
                </div>
            </div>
    </body>
</html>
